<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Work Time Manager </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="tasks" *ngIf="!isLoggedIn">Work Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tasks/add" *ngIf="!isLoggedIn && !isAdmin">Add Work Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="programmers" *ngIf="!isLoggedIn && isAdmin">Programmers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="programmers/add" *ngIf="!isLoggedIn && isAdmin">Add Programmers</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light my-2 my-sm-0" type="button" *ngIf="!isLoggedIn" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
